<div class="content" id="signin-view">
	<form id="signin-form" onsubmit="return false" class="txt-center">

		<input name="nome" placeholder="Nome completo" type="text"/>
		<br><br>

		<div class="input_vertical_group">
			<input name="telefone" placeholder="Telefone"/>
			<input name="data-nascimento" placeholder="Data de nascimento"/>
			<input name="email" placeholder="E-mail" type="email"/>
			<input name="senha" type="password" placeholder="Senha"/>
			<input name="confirmar-senha" type="password" placeholder="Confirmar senha"/>
		</div>

		<div class="buttons_group">
			<img src="./imgs/cadastre_verde.png" class="btn-cadastre-se-verde" />
			<img src="./imgs/cancelar_cinza.png" class="btn-cancelar-cinza" />
		</div>
	</form>
</div>