<div class="content" id="establishments-list-view">
	<!-- <div class="arrow_box_white txt-center">
	<span class="txt-blue"> Não foi encontrado estabelecimentos cadastrados próximos a você.</span>
	<br>
	</div>
	<div class="logo">
	<img src="./imgs/logo.png" />
	</div> -->
	<div class="listview">
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					2Km
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					2Km
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					2Km
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					2Km
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					2Km
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					2Km
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					2Km
				</div>
			</div>
		</div>
		<hr class="separator" />
	</div>
</div>