<div class="header">
	Estabelecimento<div class="back-btn"></div>
</div>
<div class="establishment-top">
	<div class="icon"></div>
	<div class="title">
		Subway
	</div>
	<div class="description">
		<div class="address">
			Rua T-60, 725 Centro - Goiânia/GO
		</div>
		<div class="phone">
			Telefone: 62 3371-0000
		</div>
	</div>
</div>
<div class="content" id="establishments-view">
	<div class="grid-50">
		<div class="pull-left like-counter block">
			<strong>Gostei</strong>
			<br>
			<span class="counter">11</span>
			gostaram
		</div>
		<div class="pull-left add-card remove-icon block">
			<!-- <strong>Adicionar
			<br>
			cartão</strong> -->
			<div style="font-size: 18px; text-align: center; width: 100%; margin-left: -31px;">10</div>
			pontos
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="ganhe-pontos">
		<div>
			GANHE PONTOS
		</div>
		<div class="text">
			Gastando <span class="txt-blue">R$ 10,00</span> por pessoa você ganha <span class="txt-blue">10 pontos</span>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="ofertas">
		<div>
			OFERTAS
		</div>
		<div class="ofertas-item">
			<div class="text">
				Ganhe uma batata pequena
			</div>
			<div class="points-to-win-content pull-left">
				<div class="points-to-win"></div>
			</div>
			<div class="points-to-win-number pull-right">
				<span class="number">001</span>
				&nbsp;<img src="imgs/trofeu.png" style="display: inline-block; width: 14px; vertical-align: middle;">
			</div>
		</div>
		<div class="ofertas-item">
			<div class="text">
				Ganhe uma batata pequena
			</div>
			<div class="points-to-win-content pull-left">
				<div class="points-to-win"></div>
			</div>
			<div class="points-to-win-number pull-right">
				<span class="number">001</span>
				&nbsp;<img src="imgs/trofeu.png" style="display: inline-block; width: 14px; vertical-align: middle;">
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="sobre">
		<div>
			SOBRE O LOCAL
		</div>
		<div class="text">
			ipsum dolor sit amet adsfa sdf asdfa afsldkmasdlkjas a sdf asdfalsdlasklfjaslkf as
			fasdfasdfkljaslfk asdlfkjaslfkja lfkjasd lfkjasdlfasjflkasdjfldkfj asd
			fasd fasdlkfjasd flkasdjf laskdjfa sldkfjas dlkfjd
		</div>
	</div>
</div>