<div class="establishment-top">
	<div class="icon" style="background-image: url('{{logo}}');"></div>
	<div class="title">
		{{name}}
	</div>
	<div class="description">
		<div class="address">
			{{address}}
		</div>
		<div class="phone">
			{{phone}}
		</div>
	</div>
</div>
<div class="content" id="establishments-show-view">
	<div class="grid-50">
		<div class="pull-left like-counter block">
			<strong>Gostei</strong>
			<br>
			<span class="counter">{{likes_count}}</span>
			gostaram
		</div>
		<div class="pull-left add-card remove-icon block">
			<!-- <strong>Adicionar
			<br>
			cartão</strong> -->
			<div style="font-size: 18px; text-align: center; width: 100%; margin-left: -31px;">
				10
			</div>
			pontos
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="ganhe-pontos">
		<div>
			GANHE PONTOS
		</div>
		<div class="text">
			Gastando <span class="txt-blue">R$ 10,00</span> por pessoa você ganha <span class="txt-blue">10 pontos</span>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="ofertas">
		<div>
			OFERTAS
		</div>
		<div class="ofertas-item">
			<div class="text">
				Ganhe uma batata pequena
			</div>
			<div class="points-to-win-content">
				<div class="points-to-win"></div>
				<div class="points-to-win-number pull-right">
					<span class="number">001</span>
					<img class="trofeu" src="imgs/trofeu.png">
				</div>
			</div>
		</div>
		<div class="ofertas-item">
			<div class="text">
				Ganhe uma batata pequena
			</div>
			<div class="points-to-win-content">
				<div class="points-to-win"></div>
				<div class="points-to-win-number pull-right">
					<span class="number">001</span>
					<img class="trofeu" src="imgs/trofeu.png">
				</div>
			</div>
		</div>
	</div>
	<div class="ofertas">
		<div>
			OFERTAS
		</div>
		<div class="ofertas-item">
			<div class="text">
				Ganhe uma batata pequena
			</div>
			<div class="points-to-win-content">
				<div class="points-to-win"></div>
				<div class="points-to-win-number pull-right">
					<span class="number">001</span>
					<img class="trofeu" src="imgs/trofeu.png">
				</div>
			</div>
		</div>
		<div class="ofertas-item">
			<div class="text">
				Ganhe uma batata pequena
			</div>
			<div class="points-to-win-content">
				<div class="points-to-win"></div>
				<div class="points-to-win-number pull-right">
					<span class="number">001</span>
					<img class="trofeu" src="imgs/trofeu.png">
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	</div>
	<div class="sobre">
		<div>
			SOBRE O LOCAL
		</div>
		<div class="text">
			{{description}}
		</div>
	</div>
</div>