<div class="content" id="login-with-account">
	<div class="logo">
		<img src="./imgs/logo.png" />
	</div>
	<form id="login-with-account-form" onsubmit="return false" class="txt-center">

		<div class="input_vertical_group">
			<input name="email" rel="mandatory" id="email" placeholder="E-mail" type="email"/>
			<input name="senha" rel="mandatory" id="senha" type="password" placeholder="Senha"/>
		</div>

		<div class="buttons_group">
			<img src="./imgs/acesse_sua_conta.png" class="login_with_account_submit" />
			&nbsp;&nbsp;
			<img src="./imgs/cancelar_cinza.png" class="btn-cancelar btn-cancelar-cinza" />
		</div>
	</form>
</div>