<div class="content" id="login-view">
	<div class="logo">
		<img src="./imgs/logo.png" />
	</div>
	<div class="btn-facebook text-shadow-white"></div>
	<hr class="login-separator text-shadow-white" />
	<div class="buttons_group">
		<img src="./imgs/cadastre_laranja.png" class="btn-cadastre-se-laranja" />
		<img src="./imgs/acesse_sua_conta.png" class="btn-acesse-sua-conta" />
	</div>
	<div class="terms text-shadow-white">
		Ao se cadastrar você estará de acordo com nosso <span class="blue">termo de uso</span>
	</div>
</div>