<div class="header">
	Meus Cartões<div class="back-btn"></div>
</div>
<div class="content" id="mycards-view">
	<!-- <div class="arrow_box_white txt-center">
	<span class="txt-blue"> VOCÊ AINDA NÃO TEM NENHUM CARTÃO ADICIONADO.</span>
	<br>
	Explore por novos lugares e adicione cartões a sua conta.
	<br>
	<br>
	</div>
	<div class="logo">
	<img src="./imgs/logo.png" />
	</div> -->
	<div class="listview">
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					Você tem <span class="points">10</span> pontos
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					Você tem <span class="points">10</span> pontos
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					Você tem <span class="points">10</span> pontos
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					Você tem <span class="points">10</span> pontos
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					Você tem <span class="points">10</span> pontos
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					Você tem <span class="points">10</span> pontos
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					Você tem <span class="points">10</span> pontos
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					Você tem <span class="points">10</span> pontos
				</div>
			</div>
		</div>
		<hr class="separator" />
		<div class="item">
			<div class="icon pull-left"></div>
			<div class="description text-shadow-white pull-left">
				<div class="title">
					Subway
				</div>
				<div>
					Você tem <span class="points">10</span> pontos
				</div>
			</div>
		</div>
		<hr class="separator" />
	</div>
</div>