<div class="content left" id="profile-view">
	<form id="profile-form" onsubmit="return false" class="txt-center">
		<input type="hidden" name="remember_me" value="1" />
		
		<label>Nome</label><input name="name" rel="mandatory" placeholder="Nome completo" type="text" value="{{name}}"/>
		<div class="input_vertical_group">
			<label>Telefone</label><input name="phone" rel="" type="tel" placeholder="Telefone" value="{{phone}}"/>
			<label>Data Nascimento</label><input name="birth_date" rel="mandatory" type="text" placeholder="Data de nascimento: dd/mm/aaaa" value="{{birth_date}}"/>
			<label>Email</label><input name="email" rel="mandatory" placeholder="E-mail" type="email" value="{{email}}"/>
		</div>
		<div class="buttons_group">
			<img src="./imgs/btn-atualizar.png" class="btn-atualizar-profile" />
		</div>
	</form>
</div>