<div class="content left" id="profile-view">
	<form id="profile-form" onsubmit="return false" class="txt-center">
		<input type="hidden" name="remember_me" value="1" />
		
		<input name="name" rel="mandatory" placeholder="Nome completo" type="text" value="{{name}}"/>
		<br><br>

		<div class="input_vertical_group">
			<input name="phone" rel="" type="tel" placeholder="Telefone" value="{{phone}}"/>
			<input name="birth_date" rel="mandatory" type="date" placeholder="Data de nascimento" value="{{birth_date}}"/>
			<input name="email" rel="mandatory" placeholder="E-mail" type="email" value="{{email}}"/>
<!-- 			<input name="password" rel="" type="password" placeholder="Senha"/> -->
<!-- 			<input name="password_confirmation" rel="" type="password" placeholder="Confirmar senha"/> -->
		</div>

		<div class="buttons_group">
			<img src="./imgs/btn-atualizar.png" class="btn-atualizar-profile" />
		</div>
	</form>
</div>